body {
  background: #BA68C8
}

.form-control:focus {
  box-shadow: none;
  border-color: #BA68C8;
}

.formcss {
  width: 20%;
  padding: 1px 5px;
  margin: 2px 12px;
  box-sizing: border-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  opacity: 1;
  text-align: center;
  color: #495057;
  background-color: #e9ecef;
}
